.fav_venues_sharedWithMe {
    background-color: indianred;
}

.fav_venues_sharedByMe {
    background-color: gray;
}

.shares_wall {
    background-color: indigo;
    padding: 1rem 1rem 50rem 1rem;
}

.fav_venues_title {
    color: lavenderblush;
}