.venue_card {
    border: goldenrod solid 1px;
    border-radius: 10px;
    width: 32rem;
    margin: 1rem 0rem 0rem 1rem;
    padding: 1rem;
    background-color: rgba(66, 68, 161, 0.6);
    color: lavenderblush;
}

.venue_map_flex {
    display: flex;
    flex-flow: row;
    
}

.venue_flex_left {
    margin-right: 1rem;
}

.fav_button {
    background-color: rgb(250, 68, 159, .8);
    padding: .5rem .5rem;
    border-radius: 10px;
    margin: .5rem auto .5rem .5rem;
    border: none;
    color: lavenderblush;
}

.unfav_button {
    background-color: rgb(250, 68, 159, .8);
    padding: .5rem .5rem;
    border-radius: 10px;
    margin: .5rem auto .5rem .5rem;
    border: none;
    color: lavenderblush;
}

.venue_buttons_flex {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.note_card {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.note_user {
    text-decoration: underline;
}

.card-header {
    font-size: small;
    color: indigo;
    font-weight: 600;
    width: 14rem;
}

.card-body {
    background-color: rgb(122, 94, 247, .7);
}

.map_box {
    border: lightcoral 1px solid;
}