.nav_bar{
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    background-color: rgb(6, 11, 69);
    border-bottom: rgb(255, 202, 44) solid 1px;
}

.vibehunt_title {
    flex-basis: 60%;
    color: lavenderblush;
    font-size: 2.5rem;
}

#dropdown-basic{
    background-color: rgba(128, 202, 169);
    padding: .5rem .5rem;
    border-radius: 10px;
    border: none;
    margin: 1rem 1rem;
    color:rgb(45, 51, 59);
    font-weight: 600;
}

#dropdown-background{
    background-color: rgb(250, 68, 159, .8);
    padding: .5rem .6rem;
    border-radius: 10px;
    border: none;
    margin: .5rem auto .5rem .5rem;
    color:lavenderblush;
}

.dropdown-item, .dropdown-item:visited {
    color: lavenderblush;
}

